.overlay__error {
  visibility: "hidden";
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0 0 30px 0;
  max-width: 358px;
}
.overlay__error:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .overlay__error:last-of-type {
    margin-bottom: 45px;
  }
}
