.modal__close {
  position: absolute;
  background-image: url(../../../images/modal__close.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: black;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {

.modal__close {
  width: 20px;
  height: 20px;
  top: -36px;
  right: 0px;
}

}
