.overlay__text {
  margin: 0 auto 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  width: 100%;
  height: 27px;
}

@media screen and (max-width: 767px) {
  .overlay__text {
    max-width: 238px;
  }
  .overlay__text:last-of-type {
    margin-bottom: 45px;
  }
}
