.disabled {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 2px;
    color: #000000;
    opacity: 0.2;
    background: transparent;
    min-width: 358px;
    min-height: 50px;
    margin-bottom: 37px;
    cursor: unset;
  }