.modal__button {
  min-width: 358px;
  min-height: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {

.modal__button {
  min-width: 238px;
  min-height: 46px;
}

}
