.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 430px;
  max-height: 330px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {

.modal {
  max-width: 282px;
  max-height: 322px;
}

}
