.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {

.modal {
  max-width: 282px;
  max-height: 322px;
}

}
