.profile__picture {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 30px;
  position: relative;
  z-index: 19;
}

@media screen and (max-width: 767px) {

  .profile__picture {
    margin-right: 0;
    margin-bottom: 26px;
  } 
}
