.profile__button {
  align-self: center;
  grid-row: 1;
  grid-column: 2;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-image: url(../../../images/profile__button-background.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.profile__button:hover {
  opacity: 0.6;
  transition: 0.3s;
}
