.avatar__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 358px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    .avatar__form {
      max-width: 238px;
      align-items: center;
    }
  }