.profile__grid {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 18px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {

.profile__grid {
  grid-row-gap: 10px;
  grid-column-gap: 14px;
  max-width: 282px;
}

}
